.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #006537;
  color: white;

  .logo-icon {
    height: 50px;
    width: auto;
  }

  .actions a, .actions button {
    margin-left: 1rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}
